<router-outlet>
  <div>
    header

    <form [formGroup]="form">
      <label for="calendar">Date</label>
      <input
        formControlName="date"
        type="date"
        id="calendar"
        name="trip-start"
      />

      <label for="time">Time</label>
      <input
        formControlName="time"
        type="time"
        id="time"
        name="time"
        required
      />
    </form>

    {{form.status}}
  </div>

  <div>
    chart
    <div>
      <form [formGroup]="form">
        <label for="Number of countries"></label>
        <select formControlName="option" (change)="onSelectChange($event)">
          <ng-container *ngFor="let option of options">
            <option [value]="option">{{option}}</option>
          </ng-container>
        </select>
      </form>
    </div>

    <ngx-charts-bar-vertical
      [scheme]="colorScheme"
      [results]="countries"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </div>

</router-outlet>

